body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 0.8px;
    margin: 0 auto;
    position: absolute;
	top: 50vh;
	left: 50vw;
    transform: translate(-50%, -50%);
    background-color: rgb(163, 201, 179);
}

p {
    color: white;
    font-size: 14px;
}

h1 {
    color: white;
    font-size: 20px;
    padding: 50px;
}

button {
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    background-color: rgb(240, 161, 161);
    border-style: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
}